.projectItemGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.projectItemGroupTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.fontSans{
  font-family: var(--font-sans) !important;
}