.section {
  position: relative;
}

.sectionContent {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem 1rem;
  position: relative;
  min-height: 100vh;
}

.sectionName {
  transform: rotate(90deg) translateX(100%);
  transform-origin: right top;
  right: 0;
  top: 0;
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
  opacity: 0.1;
  position: absolute;
  color: "$section-color";
  font-family: var(--font-mono);
  font-weight: 400;
}