.section {
  position: relative;
}

.sectionContent {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem 2rem;
  position: relative;
  min-height: 95vh;
}

.sectionName {
  transform-origin: right top;
  right: 0;
  top: 0;
  font-size: calc(max(48px, 8vw));
  opacity: 0.1;
  color: "$section-color";
  font-family: var(--font-mono);
  font-weight: 400;
  position: sticky;
  display: inline-block;
}

/* On large devices: */
@media only screen and (min-width: 1024px) {
  .sectionName {
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 3rem;
    margin-left: 2rem;
  }
}

@media (max-width: 1023px) {
  .sectionName {
    text-align: center;
    margin: 0 auto !important;
    width: 100% !important;
  }
}